#/#########################################
#                                        #
#                 Init                   #
#                                        #
##########################################
#########################
#      Init setUp       #
#########################
title = "Juan Antonio Personal Website"
defaultContentLanguage = "en"
baseURL = "https://www.antonoriza.com"

theme = "LoveIt"
defaultTheme = "light"  # Note: site default theme ["auto", "light", "dark"]


dateFormat = "2006-01-02"


author.name = "Juan Antonio Oriza"
author.email = "juan.oriza@my.unitec.edu.mx"
author.link = "#"


# default amount of posts in each pages
paginate = 4


# copyright description used only for seo schema
copyright = "This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License."


#/#########################################
#                                        #
#           Content fields               #
#                                        #
##########################################
#########################
#         Header        #
#########################
  # Header config
  [params.header]
    # desktop header mode ["fixed", "normal", "auto"]
    desktopMode = "fixed"
    # mobile header mode ["fixed", "normal", "auto"]
    mobileMode = "auto"
    #  whether to use typeit animation for title name
      typeit = false


#########################
#         Footer        #
#########################
  # Footer config
  [params.footer]
    enable = true
    #  Custom content (HTML format is supported)
    custom = ''
    #  whether to show Hugo and theme info
    hugo = false
    #  whether to show copyright info
    copyright = true
    #  whether to show the author
    author = true
    # Site creation time
    since = 2022
    # license info (HTML format is supported)
    license = '<a rel="license external nofollow noopener noreffer" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>'


#########################
#    MultiLanguage      #
#########################
[languages]
#########################
#    English website    #
#########################
  [languages.en]
    weight = 1
    languageCode = "en"
    languageName = "English"
    copyright = "This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License."
    [languages.en.params.header.title]
      logo = ""
      name = "Hello there!"
      pre = ""
      post = "✌️"
    [languages.en.menu]
      [[languages.en.menu.main]]
        weight = 1
        identifier = "posts"
        pre = ""
        post = ""
        name = "Posts"
        url = "/posts/"
        title = "Posts"
      [[languages.en.menu.main]]
        weight = 2
        identifier = "about"
        pre = ""
        post = ""
        name = "About"
        url = "/about/"
        title = "About"
    [languages.en.params]
      [languages.en.params.search]
        enable = true
        type = "algolia"
        contentLength = 4000
        placeholder = ""
        maxResultLength = 10
        snippetLength = 30
        highlightTag = "em"
        absoluteURL = false
        [languages.en.params.search.algolia]
          index = "index.en"
          appID = "PASDMWALPK"
          searchKey = "b42948e51daaa93df92381c8e2ac0f93"
      [languages.en.params.home]
        rss = 10
        [languages.en.params.home.profile]
          enable = true
          gravatarEmail = ""
          avatarURL = "../avatar.svg"
          title = "Juan Antonio Oriza Armas"
          subtitle = "Embedded Software Engineer <br /> Quantitative Finance Grad Student"
          typeit = false
          social = true
          disclaimer = "Personal Blog"
      [languages.en.params.social]
        Linkedin = "juan-antonio-oriza-armas-296b29143"
        Twitter = "JuanAntonio488"
        GitHub = "JuanAntonio488"
        Spotify.prefix = "https://open.spotify.com/show/"
        Spotify.id = "7oE1AmN43C5fvAWlQdBcVC/"
        MediaWiki= "https://en.wikipedia.org/wiki/User:JuanTo%C3%B1o"
        Email = "juan.oriza@my.unitec.edu.mx"
        RSS = false
#########################
#    Spanish website    #
#########################
  [languages.es]
    weight = 1
    languageCode = "es"
    languageName = "Español"
    copyright = "Este sitio y su contendio se encuentra licenciado bajo Atribución-NoComercial 4.0 Internacional (CC BY-NC 4.0)"
    [languages.es.params.header.title]
      logo = ""
      name = "¡Quiúbole!"
      pre = ""
      post = "✌️"
    [languages.es.menu]
      [[languages.es.menu.main]]
        weight = 1
        identifier = "posts"
        pre = ""
        post = ""
        name = "Articulos"
        url = "/posts/"
        title = "Articulos"
      [[languages.es.menu.main]]
        weight = 2
        identifier = "about"
        pre = ""
        post = ""
        name = "Acerca de mi"
        url = "/about/"
        title = "Acerca de mi"
    [languages.es.params]
      [languages.es.params.search]
        enable = true
        type = "algolia"
        contentLength = 4000
        placeholder = ""
        maxResultLength = 10
        snippetLength = 30
        highlightTag = "em"
        absoluteURL = false
        [languages.es.params.search.algolia]
          index = "index.en"
          appID = "PASDMWALPK"
          searchKey = "b42948e51daaa93df92381c8e2ac0f93"
      [languages.es.params.home]
        rss = 10
        [languages.es.params.home.profile]
          enable = true
          gravatarEmail = ""
          avatarURL = "../avatar.svg"
          title = "Juan Antonio Oriza Armas"
          subtitle = "Ing. Sistemas Computacionales <br /> Estudiante de Maestria en Finanzas Cuantitativas"
          typeit = false
          social = true
          disclaimer = "Blog Personal"
      [languages.es.params.social]
        Linkedin = "juan-antonio-oriza-armas-296b29143"
        Twitter = "JuanAntonio488"
        GitHub = "JuanAntonio488"
        Spotify.prefix = "https://open.spotify.com/show/"
        Spotify.id = "7oE1AmN43C5fvAWlQdBcVC/"
        MediaWiki= "https://es.wikipedia.org/wiki/Usuario:JuanTo%C3%B1o"
        Email = "juan.oriza@my.unitec.edu.mx"
        RSS = false


#/#########################################
#                                        #
#               KISS fields              #
#                                        #
##########################################
#########################
#         SEO           #
#########################
  # Website title for Open Graph and Twitter Cards
  params.title = "Juan Antonio Oriza Personal Website"
  
  # Website description for RSS, SEO, Open Graph and Twitter Cards
  params.description = "Juan Antonio Oriza Personal Website"
  
  # Website images for Open Graph and Twitter Cards
  params.images = ["../avatar.svg"]

  #  Site SEO config
  [params.seo]
    # image URL
    image = "../avatar.svg"
    # thumbnail URL
    thumbnailUrl = ""

  #  Analytics config
  [params.analytics]
    enable = true
    # Google Analytics
    [params.analytics.google]
      id = "G-8SBZWWKMXC"
      # whether to anonymize IP
      anonymizeIP = true
    # Fathom Analytics
    [params.analytics.fathom]
      id = ""
      # server url for your tracker if you're self hosting
      server = ""
    # Plausible Analytics
    [params.analytics.plausible]
      dataDomain = ""
    # Yandex Metrica
    [params.analytics.yandexMetrica]
      id = ""


#########################
#         Cookies      #
#########################
  #  Cookie consent config
  [params.en.cookieconsent]
    enable = true
    # text strings used for Cookie consent banner
    [params.en.cookieconsent.content]
      message = "Este sitio usa cookies"
      dismiss = ""
      link = ""


#########################
#    Privacy stuff      #
#########################
# Privacy config
[privacy]
  #  privacy of the Google Analytics (replaced by params.analytics.google)
  [privacy.googleAnalytics]
    # ...
  [privacy.twitter]
    enableDNT = true
  [privacy.youtube]
    privacyEnhanced = true


#########################
#         CDN           #
#########################
  #  CDN config for third-party library files
  [params.cdn]
    # CDN data file name, disabled by default
    # ["jsdelivr.yml"]
    # located in "themes/LoveIt/assets/data/cdn/" directory
    # you can store your own data files in the same path under your project: "assets/data/cdn/"
    data = ""


#########################
#    Search Config      #
#########################
  #  Search config
  [params.search]
    enable = true
    # type of search engine ["lunr", "algolia"]
    type = "algolia"
    # max index length of the chunked content
    contentLength = 4000
    # placeholder of the search bar
    placeholder = ""
    #  max number of results length
    maxResultLength = 8
    #  snippet length of the result
    snippetLength = 30
    #  HTML tag name of the highlight part in results
    highlightTag = "em"
    #  whether to use the absolute URL based on the baseURL in search index
    absoluteURL = false
    [params.search.algolia]
      index = "antonoriza"
      appID = "8D9LWUJ9U4"
      searchKey = "ff5b8a0cf265434eb4e20bcc35d85cc3"


#########################
#    App icon config    #
#########################
  #  App icon config
  [params.app]
    # optional site title override for the app when added to an iOS home screen or Android launcher
    title = "Juan Antonio Personal Website"
    # whether to omit favicon resource links
    noFavicon = false
    # modern SVG favicon to use in place of older style .png and .ico files
    svgFavicon = "../CodeSignal.svg"
    # Android browser theme color
    themeColor = "#ffffff"
    # Safari mask icon color
    iconColor = "#5bbad5"
    # Windows v8-10 tile color
    tileColor = "#da532c"


#########################
#  TypeIt config - NA   #
#########################
  [params.typeit]
    # typing speed between each step (measured in milliseconds)
    speed = 100
    # blinking speed of the cursor (measured in milliseconds)
    cursorSpeed = 1000
    # character used for the cursor (HTML format is supported)
    cursorChar = "|"
    # cursor duration after typing finishing (measured in milliseconds, "-1" means unlimited)
    duration = -1


#########################
#  Section Config - NA  #
#########################
  #  Section (all posts) page config
  [params.section]
    # special amount of posts in each section page
    paginate = 20
    # date format (month and day)
    dateFormat = "01-02"
    # amount of RSS pages
    rss = 10


#########################
#   List Config - NA    #
#########################
  #  List (category or tag) page config
  [params.list]
    # special amount of posts in each list page
    paginate = 20
    # date format (month and day)
    dateFormat = "01-02"
    # amount of RSS pages
    rss = 10

#########################
#    Robots txt - NA    #
#########################
enableRobotsTXT = true
# whether to use git commit log
enableGitInfo = false
# whether to use emoji code
enableEmoji = true
# ignore some build errors
ignoreErrors = ["error-remote-getjson", "error-missing-instagram-accesstoken"]


#########################
#     Sitemap - NA      #
#########################
# Sitemap config
[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5


#########################
#    Permalinks - NA    #
#########################
# Permalinks config
[Permalinks]
  # posts = ":year/:month/:filename"
  posts = ":filename"


#########################
#  Compatibility - NA   #
#########################
  #  Compatibility config
  [params.compatibility]
    # whether to use Polyfill.io to be compatible with older browsers
    polyfill = false
    # whether to use object-fit-images to be compatible with older browsers
    objectFit = false

#########################
#     Git Info - NA     #
#########################
  # public git repo url only then enableGitInfo is true
  params.gitRepo = ""
  #  which hash function used for SRI, when empty, no SRI is used ["sha256", "sha384", "sha512", "md5"]
  params.fingerprint = ""


######################################
# Markup related config in Hugo - NA #
######################################
[markup]
  # Syntax Highlighting
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = true
    lineNumbersInTable = true
    # false is a necessary configuration
    # (https://github.com/dillonzq/LoveIt/issues/158)
    noClasses = false
  # Goldmark is from Hugo 0.60 the default library used for Markdown
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.renderer]
      # whether to use HTML tags directly in the document
      unsafe = true
  # Table Of Contents settings
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 6


#########################
#  MD files stuff - NA  #
#########################
# Options to make output .md files
[mediaTypes]
  [mediaTypes."text/plain"]

# Options to make output .md files
[outputFormats.MarkDown]
  mediaType = "text/plain"
  isPlainText = true
  isHTML = false

# Options to make hugo output files
[outputs]
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML", "MarkDown"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]
  taxonomyTerm = ["HTML"]
