// ==============================
// Override Variables
// ==============================
//Header
$header-background-color-dark: #111111;
$global-border-color-dark: #30363D;
//Body
$global-background-color-dark: #0D1117;
//Font
$global-font-color-dark: #C9D1D9;
$global-font-secondary-color-dark: #8B949E;
//Link
$global-link-color-dark: #C9D1D9;