// ==============================
// Override Variables
// ==============================
$global-background-color-dark: #0D1117 !default;
$global-font-color-dark: #C9D1D9 !default;
$global-font-secondary-color-dark: #8B949E !default;
$global-link-color-dark: #C9D1D9 !default;
$header-background-color-dark: #111111 !default;